langchain>=0.3.0
langchain-core>=0.3.0
langchain-groq>=0.1.0
groq>=0.5.0

python-dotenv>=1.0.0
pytest==8.0.0

# Embeddings + Vectorstore
sentence-transformers>=2.2.0
transformers>=4.40.0
torch>=2.0.0
faiss-cpu>=1.7.4